
#title {

position: relative;

top: 200px;
left: 0px;

font-family: 'Antic Slab';
font-size: 54px;



}

#undertitle {

position: relative;

top: 195px;
left: 0px;


color: #000000;
}

#center-button {
position: relative;
top: 200px;
left: 50px;
}

#front {
position: relative;
top: -100px;
left: 480px;

}

#footer {
background-color: #020202;
position: relative; /* Фиксированное положение */
left: 0; bottom: 0; /* Левый нижний угол */
width: 100%; /* Ширина слоя */
}

#desc {
background-color:#F2F2F2;
position: relative;
top: -65px;
}

#partners {
position: relative;
top: -30px;
}